<a href="https://colab.research.google.com/github/jjunga1203/Books/blob/master/cpu_gpu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 첫번째 수업입니다.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ls

drive/  sample_data/

In [ ]:
ls ./drive/

MyDrive/

In [ ]:
ls ./drive/MyDrive/

 aepython.7z              My가계부.gsheet                      빅데이터_머신러닝.gdoc
 ajax/                    sbert.ipynb                          빅데이터-미니프로젝트.gdoc
 appsheet/                test/                               '빅데이터 수업'/
 AppSheetExample.gsheet  '강북살사_회원정보&출석체크.gsheet'  '빅데이터 수업 시간표(수정).xlsx'
 Classroom/               개인용/                              빅데이터_알고리즘.gdoc
'Colab Notebooks'/       '데이터분석 수업.gsheet'              빅데이터_파이썬기초.gdoc
 data/                    독서기록App.gsheet                   빅분기_필기_요약.pdf
 front_back.gdoc         '빅데이터_final prj (권태현).gdoc'   '제목 없는 스프레드시트.gsheet'
 git_github.gdoc          빅데이터_데이터베이스.gdoc           최희정_출석부.pdf
 label.csv                빅데이터_딥러닝.gdoc

In [ ]:
import tensorflow as tf
import timeit
import numpy as np

In [ ]:
tf.test.gpu_device_name()

'/device:GPU:0'

In [ ]:
!nvidia-smi

Mon Apr 29 01:10:23 2024
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 535.104.05             Driver Version: 535.104.05   CUDA Version: 12.2     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  Tesla T4                       Off | 00000000:00:04.0 Off |                    0 |
| N/A   43C    P0              25W /  70W |    103MiB / 15360MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
+---------------------------------------------------------------------------------------+

In [ ]:
!head -n 18 /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 63
model name	: Intel(R) Xeon(R) CPU @ 2.30GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2299.998
cache size	: 46080 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13

In [ ]:
!head /proc/meminfo

MemTotal:       13290480 kB
MemFree:         7450696 kB
MemAvailable:   11550968 kB
Buffers:          366232 kB
Cached:          3934128 kB
SwapCached:            0 kB
Active:           782360 kB
Inactive:        4632584 kB
Active(anon):       1620 kB
Inactive(anon):  1126064 kB

In [ ]:
def cpu() :
  with tf.device('/cpu:0'):
    random_image_cpu = tf.random.normal((100, 100, 100, 3))
    net_cpu = tf.keras.layers.Conv2D(32, 7)(random_image_cpu)

def gpu() :
  with tf.device('/device:GPU:0'):
    random_image_gpu = tf.random.normal((100, 100, 100, 3))
    net_gpu = tf.keras.layers.Conv2D(32, 7)(random_image_gpu)

In [ ]:
cpu_time = []
for i in range(30):
  cpu_time.append(timeit.timeit('cpu()', number = 10, setup="from __main__ import cpu"))

In [ ]:
print(cpu_time)

[5.01973899099994, 3.7917002819999652, 3.553419737999775, 3.842070243999842, 4.9894182990001354, 3.586364035000315, 3.599350263999895, 5.114953263000189, 3.6841355139999905, 3.565020818999983, 4.158481895000023, 4.598767038000005, 3.5224012600001515, 3.565293534000375, 5.156256673999906, 3.487124042999767, 3.5055279379998865, 4.342902516999857, 4.433755896000093, 3.5133961359997556, 3.4677299519998996, 5.040794746999836, 3.424255964999702, 3.513111790000039, 3.782715258999815, 4.754124164000132, 3.5641723659996387, 3.559729207000146, 5.084165050000138, 3.474164380000275]

In [ ]:
gpu_time_list = []
for i in range(30):
  gpu_time_list.append(timeit.timeit('gpu()', number = 10, setup="from __main__ import gpu"))

In [ ]:
print(gpu_time_list)
print(f'mean: {np.mean(gpu_time_list)}')

[0.10255928700007644, 0.09898638799995751, 0.09849456599977202, 0.08837531100016349, 0.08175203500013595, 0.07952930900000865, 0.07601870799999233, 0.0800119230002565, 0.07489014400016458, 0.07533076700019592, 0.07376252899985047, 0.07400549800013323, 0.07508335800002897, 0.07501079300027413, 0.07771843999989869, 0.07523481299995183, 0.07684319100007997, 0.07365424999989045, 0.07651893499996731, 0.07524425099973087, 0.07856392799976675, 0.07499143900031413, 0.07609792199991716, 0.08034254499989402, 0.07443764299978284, 0.07813535600007526, 0.07334360200002266, 0.07548398800008727, 0.0762277579997317, 0.0751095859995985]
mean: 0.07905860876665732

In [ ]:
def cpu() :
  random_image_cpu = tf.random.normal((100, 100, 100, 3))
  net_cpu = tf.keras.layers.Conv2D(32, 7)(random_image_cpu)

def gpu() :
  random_image_gpu = tf.random.normal((100, 100, 100, 3))
  net_gpu = tf.keras.layers.Conv2D(32, 7)(random_image_gpu)

In [ ]:
cpu_time = []
for i in range(30):
  cpu_time.append(timeit.timeit('cpu()', number = 10, setup="from __main__ import cpu"))

In [ ]:
gpu_time_list = []
for i in range(30):
  gpu_time_list.append(timeit.timeit('gpu()', number = 10, setup="from __main__ import gpu"))

In [ ]:
gpu_time_list
print(f'mean: {np.mean(gpu_time_list)}')

mean: 0.08604215326671086

### 농장에 소, 닭
### 총 머릿수 : 20, 총 다릿수 56
### 닭, 소 마릿수

In [ ]:
# 머릿수/ 다릿수를 받아서 두 동물의 마릿수 리턴
def get_cnt(face_cnt, lag_cnt):
  y = lag_cnt/2 - face_cnt

  return int(y), int(face_cnt - y)

cow_cnt, chick_cnt = get_cnt(20, 56)
print(f'소: {cow_cnt}마리, 닭 : {chick_cnt}마리')

소: 8마리, 닭 : 12마리

In [ ]:
# 머릿수/ 다릿수를 받아서 두 동물의 마릿수 리턴
def brute_force_algorithm(head, leg):
  ''' x :다리 4개인 동물,   y : 다리 2개인 동물 수'''

  for x in range(head+1):
    y = head - x
    if 4 * x + 2 * y == leg:
      return x, y
  return(none, none)

total_head = 20
total_leg = 56
(cows, chickens) = brute_force_algorithm(total_head, total_leg)

print(f'소: {cows}마리, 닭: {chickens}마리')

소: 8마리, 닭: 12마리

In [ ]:
# 머릿수/ 다릿수를 받아서 두 동물의 마릿수 리턴
def barnyard():
  ''' x :다리 4개인 동물,   y : 다리 2개인 동물 수'''

  total_head = int(input('Enter number of heads: '))
  total_leg = int(input('Enter number of legs: '))
  (cows, chickens) = brute_force_algorithm(total_head, total_leg)

  if chickens:
    print('Number of chickens : ', chickens)
    print('Number of cows : ', cows)
  else:
    print('There is no solution')

In [ ]:
barnyard()

Enter number of heads: 8
Enter number of legs: 20
Number of chickens :  6
Number of cows :  2

In [ ]:
def get_3times_answer(cnt):
  answer = []
  for i in range(cnt):
    for j in range(cnt):
      for m in range(cnt):
        if m == i or m == j:
          continue

        for n in range(cnt):
          if n == i or n == j:
            continue
          if i*i*i + j*j*j == m*m*m + n*n*n:
            # print('결과:', i*i*i + j*j*j, ' ', i, j, m, n)
            answer.append([i*i*i + j*j*j, i, j, m, j])

  return answer

  def solution():
    cnt = int(input('Enter the max number: '))
    get_3times_answer(cnt)

In [ ]:
get_3times_answer(30)

[[1729, 1, 12, 9, 12],
 [1729, 1, 12, 10, 12],
 [4104, 2, 16, 9, 16],
 [4104, 2, 16, 15, 16],
 [13832, 2, 24, 18, 24],
 [13832, 2, 24, 20, 24],
 [1729, 9, 10, 1, 10],
 [1729, 9, 10, 12, 10],
 [4104, 9, 15, 2, 15],
 [4104, 9, 15, 16, 15],
 [1729, 10, 9, 1, 9],
 [1729, 10, 9, 12, 9],
 [20683, 10, 27, 19, 27],
 [20683, 10, 27, 24, 27],
 [1729, 12, 1, 9, 1],
 [1729, 12, 1, 10, 1],
 [4104, 15, 9, 2, 9],
 [4104, 15, 9, 16, 9],
 [4104, 16, 2, 9, 2],
 [4104, 16, 2, 15, 2],
 [13832, 18, 20, 2, 20],
 [13832, 18, 20, 24, 20],
 [20683, 19, 24, 10, 24],
 [20683, 19, 24, 27, 24],
 [13832, 20, 18, 2, 18],
 [13832, 20, 18, 24, 18],
 [13832, 24, 2, 18, 2],
 [13832, 24, 2, 20, 2],
 [20683, 24, 19, 10, 19],
 [20683, 24, 19, 27, 19],
 [20683, 27, 10, 19, 10],
 [20683, 27, 10, 24, 10]]

In [ ]:
%run client.py

Enter number of heads: 20
Enter number of legs: 56
Number of chickens :  12
Number of cows :  8

In [ ]:
pwd

'/content'

### 가상 환경 만들기

1. conda env list : 기존 가상환경 목록 출력
2. conda create -n strweb python=3.10
  - conda create -n strweb python=3.10 ipython
   pandas numpy matplotlib scikit-learn
  tensorflow keras
3. conda activate strweb
4. conda deactivate

### pip install imageio-ffmpeg # 강화학습 동영상 -- 설치하여 사용

### streamlit  으로 웹에 표현하기

In [1]:
import requests
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta as delta

In [2]:
url = 'https://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=c3a0fa760324363ef7cde2afa0d73297&targetDt='

In [3]:
todays = dt.today() - delta(days=1)
todays

datetime.datetime(2024, 4, 30, 0, 55, 34, 184856)

In [4]:
today = todays.strftime("%Y%m%d")
today

'20240430'

In [5]:
url += today
url

'https://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=c3a0fa760324363ef7cde2afa0d73297&targetDt=20240430'

In [6]:
resp = requests.get(url)

In [7]:
resp

In [8]:
datas = resp.json()
type(datas)

dict

In [9]:
datas.keys(), datas['boxOfficeResult'].keys()

(dict_keys(['boxOfficeResult']),
 dict_keys(['boxofficeType', 'showRange', 'dailyBoxOfficeList']))

In [10]:
datas = dict(datas)
datas = datas['boxOfficeResult']['dailyBoxOfficeList']
datas

[{'rnum': '1',
  'rank': '1',
  'rankInten': '0',
  'rankOldAndNew': 'OLD',
  'movieCd': '20228797',
  'movieNm': '범죄도시4',
  'openDt': '2024-04-24',
  'salesAmt': '3685037170',
  'salesShare': '91.7',
  'salesInten': '242933855',
  'salesChange': '7.1',
  'salesAcc': '47572420854',
  'audiCnt': '390187',
  'audiInten': '28154',
  'audiChange': '7.8',
  'audiAcc': '5005754',
  'scrnCnt': '2819',
  'showCnt': '15704'},
 {'rnum': '2',
  'rank': '2',
  'rankInten': '0',
  'rankOldAndNew': 'OLD',
  'movieCd': '20236614',
  'movieNm': '쿵푸팬더4',
  'openDt': '2024-04-10',
  'salesAmt': '93710061',
  'salesShare': '2.3',
  'salesInten': '35580931',
  'salesChange': '61.2',
  'salesAcc': '13125116365',
  'audiCnt': '10513',
  'audiInten': '4065',
  'audiChange': '63',
  'audiAcc': '1404601',
  'scrnCnt': '529',
  'showCnt': '869'},
 {'rnum': '3',
  'rank': '3',
  'rankInten': '0',
  'rankOldAndNew': 'OLD',
  'movieCd': '20234675',
  'movieNm': '파묘',
  'openDt': '2024-02-22',
  'salesAmt': '69334398',
  'salesShare': '1.7',
  'salesInten': '17538065',
  'salesChange': '33.9',
  'salesAcc': '114630754046',
  'audiCnt': '7408',
  'audiInten': '1900',
  'audiChange': '34.5',
  'audiAcc': '11860065',
  'scrnCnt': '490',
  'showCnt': '814'},
 {'rnum': '4',
  'rank': '4',
  'rankInten': '0',
  'rankOldAndNew': 'OLD',
  'movieCd': '20249318',
  'movieNm': '챌린저스',
  'openDt': '2024-04-24',
  'salesAmt': '56848039',
  'salesShare': '1.4',
  'salesInten': '17880886',
  'salesChange': '45.9',
  'salesAcc': '334431985',
  'audiCnt': '6069',
  'audiInten': '1945',
  'audiChange': '47.2',
  'audiAcc': '35455',
  'scrnCnt': '439',
  'showCnt': '812'},
 {'rnum': '5',
  'rank': '5',
  'rankInten': '0',
  'rankOldAndNew': 'OLD',
  'movieCd': '20231677',
  'movieNm': '남은 인생 10년',
  'openDt': '2023-05-24',
  'salesAmt': '44111292',
  'salesShare': '1.1',
  'salesInten': '17112868',
  'salesChange': '63.4',
  'salesAcc': '4330960765',
  'audiCnt': '4514',
  'audiInten': '1787',
  'audiChange': '65.5',
  'audiAcc': '425186',
  'scrnCnt': '158',
  'showCnt': '239'},
 {'rnum': '6',
  'rank': '6',
  'rankInten': '16',
  'rankOldAndNew': 'OLD',
  'movieCd': '20248466',
  'movieNm': '고스트버스터즈: 오싹한 뉴욕',
  'openDt': '2024-04-17',
  'salesAmt': '9042456',
  'salesShare': '0.2',
  'salesInten': '7892356',
  'salesChange': '686.2',
  'salesAcc': '400398461',
  'audiCnt': '1155',
  'audiInten': '1025',
  'audiChange': '788.5',
  'audiAcc': '42831',
  'scrnCnt': '59',
  'showCnt': '71'},
 {'rnum': '7',
  'rank': '7',
  'rankInten': '2',
  'rankOldAndNew': 'OLD',
  'movieCd': '20236295',
  'movieNm': '듄: 파트2',
  'openDt': '2024-02-28',
  'salesAmt': '6489456',
  'salesShare': '0.2',
  'salesInten': '2647888',
  'salesChange': '68.9',
  'salesAcc': '23360963961',
  'audiCnt': '680',
  'audiInten': '288',
  'audiChange': '73.5',
  'audiAcc': '1994181',
  'scrnCnt': '17',
  'showCnt': '28'},
 {'rnum': '8',
  'rank': '8',
  'rankInten': '4',
  'rankOldAndNew': 'OLD',
  'movieCd': '20231415',
  'movieNm': '소풍',
  'openDt': '2024-02-07',
  'salesAmt': '3725500',
  'salesShare': '0.1',
  'salesInten': '1889500',
  'salesChange': '102.9',
  'salesAcc': '3086076943',
  'audiCnt': '600',
  'audiInten': '295',
  'audiChange': '96.7',
  'audiAcc': '346551',
  'scrnCnt': '7',
  'showCnt': '7'},
 {'rnum': '9',
  'rank': '9',
  'rankInten': '-3',
  'rankOldAndNew': 'OLD',
  'movieCd': '19950095',
  'movieNm': '레옹 ',
  'openDt': '1995-02-18',
  'salesAmt': '4212963',
  'salesShare': '0.1',
  'salesInten': '332178',
  'salesChange': '8.6',
  'salesAcc': '496944450',
  'audiCnt': '560',
  'audiInten': '25',
  'audiChange': '4.7',
  'audiAcc': '66461',
  'scrnCnt': '41',
  'showCnt': '46'},
 {'rnum': '10',
  'rank': '10',
  'rankInten': '5',
  'rankOldAndNew': 'OLD',
  'movieCd': '20248493',
  'movieNm': '몬스터 프렌즈',
  'openDt': '2024-04-25',
  'salesAmt': '3577000',
  'salesShare': '0.1',
  'salesInten': '1857000',
  'salesChange': '108',
  'salesAcc': '67506195',
  'audiCnt': '440',
  'audiInten': '243',
  'audiChange': '123.4',
  'audiAcc': '8040',
  'scrnCnt': '70',
  'showCnt': '71'}]

In [11]:
type(datas)

list

In [12]:
df = pd.DataFrame.from_dict(data=datas, orient='columns')
df.head()

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20228797,범죄도시4,2024-04-24,3685037170,91.7,242933855,7.1,47572420854,390187,28154,7.8,5005754,2819,15704
1,2,2,0,OLD,20236614,쿵푸팬더4,2024-04-10,93710061,2.3,35580931,61.2,13125116365,10513,4065,63,1404601,529,869
2,3,3,0,OLD,20234675,파묘,2024-02-22,69334398,1.7,17538065,33.9,114630754046,7408,1900,34.5,11860065,490,814
3,4,4,0,OLD,20249318,챌린저스,2024-04-24,56848039,1.4,17880886,45.9,334431985,6069,1945,47.2,35455,439,812
4,5,5,0,OLD,20231677,남은 인생 10년,2023-05-24,44111292,1.1,17112868,63.4,4330960765,4514,1787,65.5,425186,158,239

In [13]:
movie_df = df.loc[:, ['rank', 'movieNm', 'openDt', 'salesAmt']]
movie_df

  rank          movieNm      openDt    salesAmt
0    1            범죄도시4  2024-04-24  3685037170
1    2            쿵푸팬더4  2024-04-10    93710061
2    3               파묘  2024-02-22    69334398
3    4             챌린저스  2024-04-24    56848039
4    5        남은 인생 10년  2023-05-24    44111292
5    6  고스트버스터즈: 오싹한 뉴욕  2024-04-17     9042456
6    7           듄: 파트2  2024-02-28     6489456
7    8               소풍  2024-02-07     3725500
8    9              레옹   1995-02-18     4212963
9   10          몬스터 프렌즈  2024-04-25     3577000

In [ ]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rank      10 non-null     object
 1   movieNm   10 non-null     object
 2   openDt    10 non-null     object
 3   salesAmt  10 non-null     object
dtypes: object(4)
memory usage: 448.0+ bytes

In [ ]:
movie_df['salesAmt'] = pd.to_numeric(movie_df['salesAmt'])#.apply('{:,}'.format)

In [ ]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rank      10 non-null     object
 1   movieNm   10 non-null     object
 2   openDt    10 non-null     object
 3   salesAmt  10 non-null     int64
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [ ]:
movie_df

  rank    movieNm      openDt    salesAmt
0    1      범죄도시4  2024-04-24  3441841315
1    2      쿵푸팬더4  2024-04-10    58129130
2    3         파묘  2024-02-22    51796333
3    4       챌린저스  2024-04-24    38967153
4    5  남은 인생 10년  2023-05-24    26998424
5    6        레옹   1995-02-18     3880785
6    7    그녀가 죽었다  2024-05-15     3969000
7    8    땅에 쓰는 시  2024-04-17     3463300
8    9     듄: 파트2  2024-02-28     3841568
9   10    여행자의 필요  2024-04-24     3550300